[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
django-cors-headers = "*"
django-filter = "*"
drf-spectacular = "*"
drf-nested-routers = "*"
djangorestframework-simplejwt = "*"
django-jalali-date = "*"
redis = "*"
celery = "*"
flower = "*"
gunicorn = "*"
django-solo = "*"
django-visit-count = "*"

[dev-packages]
django-stubs = "*" #Only for fixing: pycharm not recognizing .objecs in models
django-debug-toolbar = "*"
locust = "*"
django-silk = "*"
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"
flake8 = "*"
pytest-mock = "*"

[requires]
python_version = "3.11"
